<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>simple chatgpt</title>
  <link rel="stylesheet" href="static/style.css" type="text/css" charset="utf-8" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body></body>
  <div class="response-text-container">
    <p class="response-text" id="response-text"></p>
  </div>
  <div class="user-input-container">
    <textarea rows="1" class="user-input" onInput="autoHeight(this)" id="user-input"></textarea>
  </div>
  <script src="static/script.js"> </script>
</body>

</html>